html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button, textarea, a {
  	background: transparent;
	background: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
}                  
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; padding:0 0 1.5em 0; }
input, select { vertical-align:middle; }

/* End of Reset CSS */





body {
	background: url(images/bg.jpg);
	position: relative;
	width: 100%;
	height: 100%;
}
html {
	width: 100%;
	height: 100%;
}

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid {  }

/* By default the selection color is pink */
::-moz-selection{ background: #468ab1; color:#fff; text-shadow: none; }
::selection { background:#468ab1; color:#fff; text-shadow: none; }
.ie7 img { -ms-interpolation-mode: bicubic; }



ul, ol, p {
	padding: 0 0 1.5em 0;
}

ul, ol {
	list-style: none;
}

ul li {
	list-style: none;
}

p {
	font-family: Arial;
	color: #2e2d2d;
	font-size: 13px;
	line-height: 22px;	
}

a {
	color: #8d3d00;
}

article blockquote {
	border-left: 1px solid #ebe0b5;
	font-family: Arial;
	color: #ebe0b5;
	font-size: 13px;
	line-height: 22px;
	padding: 15px 0 15px 30px;
	margin: 5px 0 10px 30px;
}
article ul {
	margin-left: 20px;
}
article ul li {
	padding: 5px;
	list-style: square;
	font-family: Arial;
	color: #ebe0b5;
	font-size: 13px;
	line-height: 22px;
}

article ol {
	margin-left: 20px;
}
article ol li {
	padding: 5px;
	list-style-type: decimal;
	font-family: Arial;
	color: #ebe0b5;
	font-size: 13px;
	line-height: 22px;
}


/* remember to define focus styles! */
:focus {outline: 0;}

img {border:0;}
a img {border:0}

/* Float Definitions -----------------------------------------------------------*/

.clear {clear:both;} 

.right {float: right;} 

.left {float: left;}

.alignright {float: right;margin: 0 0 2px 7px;}
.alignleft {float: left;margin: 0 7px 2px 0;}

img.left, img.alignleft {float: left;margin: 0 15px 7px 0;}

img.right, img.alignright {float: right;margin: 0 0 7px 15px;}

.post img.aligncenter, .attachment img.aligncenter { display:block; margin: 0 auto; text-align: center; }

.nopad {
	padding: 0px !important;
}
.nomargin {
	margin: 0px !important;
}
.noborder {
	border: none !important;
}














/*----------------------------------------------------------------------------------------------------------------
										            ANIMATIONS
----------------------------------------------------------------------------------------------------------------*/




@-webkit-keyframes fadeIn{
0%{opacity:0} 100%{opacity:1}}@-moz-keyframes fadeIn{0%{opacity:0} 100%{opacity:1}}@-o-keyframes fadeIn{0%{opacity:0} 100%{opacity:1}}@keyframes fadeIn{0%{opacity:0} 100%{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn}

@-webkit-keyframes fadeOut{
0%{opacity:1} 100%{opacity:0}}@-moz-keyframes fadeOut{0%{opacity:1} 100%{opacity:0}}@-o-keyframes fadeOut{0%{opacity:1} 100%{opacity:0}}@keyframes fadeOut{0%{opacity:1} 100%{opacity:0}}.fadeOut{-webkit-animation-name:fadeOut;-moz-animation-name:fadeOut;-o-animation-name:fadeOut;animation-name:fadeOut}

@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px)} 100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes fadeInDown{0%{opacity:0;-moz-transform:translateY(-20px)} 100%{opacity:1;-moz-transform:translateY(0)}}@-o-keyframes fadeInDown{0%{opacity:0;-o-transform:translateY(-20px)} 100%{opacity:1;-o-transform:translateY(0)}}@keyframes fadeInDown{0%{opacity:0;transform:translateY(-20px)} 100%{opacity:1;transform:translateY(0)}}.fadeInDown{-webkit-animation-name:fadeInDown;-moz-animation-name:fadeInDown;-o-animation-name:fadeInDown;animation-name:fadeInDown}



@-webkit-keyframes DropDown{0%{-webkit-transform:translateY(-20px)} 100%{-webkit-transform:translateY(0)}}@-moz-keyframes DropDown{0%{-moz-transform:translateY(-20px)} 100%{-moz-transform:translateY(0)}}@-o-keyframes DropDown{0%{-o-transform:translateY(-20px)} 100%{-o-transform:translateY(0)}}@keyframes DropDown{0%{transform:translateY(-20px)} 100%{transform:translateY(0)}}.DropDown{-webkit-animation-name:DropDown;-moz-animation-name:DropDown;-o-animation-name:fadeInDown;animation-name:DropDown}

.smooth-transition-2s {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

.smooth-transition-3s {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.4s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

.smooth-transition-4s {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
}

.smooth-transition-5s {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

.menu-area.right a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

/* More control over what uses the transitions -----------------------------------------------------------*/

/* .3s transitions */

.detail-number-wrapper .ui-state-default .ui-icon,
.detail-number-wrapper .ui-state-default .ui-icon:after,
.detail-number-wrapper .ui-state-default
{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}








/* Base Styles -----------------------------------------------------------*/




h1 {
    font-family: 'GothamBold';
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-weight: 700;
	line-height: 32px;
	color: #333333;
}

h2 {
	font-family: 'GothamLight';
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-weight: 300;
	line-height: 32px;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    color: #333333;
}

h3 {
	font-family: 'GothamBold';
	line-height: 22px;
	font-size: 19px;
	text-transform: uppercase;
	color: #000;
}
h4 {
	font-family: 'GothamCondensedMedium';
	font-size: 20px;
	margin-bottom: 5px;
	color: #000;
}

p {
	font-family: 'GothamLight';
	font-size: 14px;
}



/* General Styles ---------------------------------------------------- */

.hide {
	display: none;
}

.button-wrapper {
    position: relative;
    text-align: center;
}

.button {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
    background: none repeat scroll 0 0 #FA9C03;
    color: #FFFFFF;
    padding: 10px 20px;
    text-transform: uppercase;
}
	.button:hover {
		color: #000;
	}







/* Navigation Styles ---------------------------------------------------- */



.navigate {
	background: #000;
	height: 100%;
	width: 300px;
	position: relative;
	position: fixed;
	z-index: 999;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}




.slipnot {
	width: 85px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}




.navigate .supernav {
	width: 100%;
	position: relative;
	background: transparent;
}
.behindnavigate  {
	background: #fff;
	height: 100%;
	width: 215px;
	position: fixed;
	left: 85px;
	content: '';
	top: 0;
	z-index: 0;
}
/*.navigate .supernav:before  {
	position: absolute;
	width: 300px;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 9;
	content: '';
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navigate .supernav:after  {
	position: absolute;
	left: 100px;
	width: 200px;
	height: 100%;
	top: 0;
	background: #ddd;
	z-index: 8;
	content: '';
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}*/



.navigate .supernav li {
	color: #fff;
	padding: 10px 0;
	height: 43px;
	width: 100%;
	background: transparent;
	position: relative;
	z-index: 99;
	border-top:  2px solid #373637;
}

.navigate.slipnot .supernav .subinside {
    background: none repeat scroll 0 0 #DFDFDF;
}

.navigate .supernav li:hover {
	background: none repeat scroll 0 0 rgba(255,255,255,.6);
	z-index: 999;
}

.navigate .supernav li.dropsub {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.navigate .supernav li.dropsub:hover {
	background: #fff;
	z-index: 999;
	height: 250px;
}
.navigate .supernav li ul.dropbox {
	position: fixed;
	left: 85px;
	width: 215px;
	height: 100%;
	z-index: 0;
	top: 0;
	background: #DFDFDF;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	overflow: scroll;
}


.navigate .supernav li.subinside:hover ul.dropbox {
	visibility: visible;
	opacity: 1;
}


.navigate .supernav li ul.dropdown {
	z-index: 999999999999999999;
	position:relative;
	left: 0px;
	width: 100%;
	height: 242px;
	top: 8px;
	background: #000;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	overflow: scroll;
	padding: 30px 0 0 0;
}

.navigate .supernav li ul.dropdown li {
	border: none;
	padding: 3px 0 0 30px;
	z-index: 99999999;
	height: inherit;
}
.navigate .supernav li:hover ul.dropdown {
	visibility: visible;
	opacity: 1;
}


.navigate .supernav li ul.dropbox li {
    border: 0 none;
    height: auto;
    margin: 0 0 0 -10px;
    opacity: 0;
    overflow: hidden;
    padding: 10px 0;
    visibility: hidden;
    z-index: 1 !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.slipnot .supernav li ul.dropbox li {
	margin-left: 0px;
	visibility: visible;
	opacity: 1;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	
}

.navigate .supernav li ul.dropdown li {
	padding: 3px 0 0px 40px;
	z-index: 1 !important;
	height: auto;
}

.navigate .supernav li ul.dropdown li:hover {
	background: transparent;
}

.navigate .supernav li ul.dropdown li a {
	font-family: 'GothamBold';
	font-size: 11px;
	text-transform: none;
	letter-spacing: -1px;
	font-weight: 700;
	line-height: 10px;
	color: #fff;
		-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}
.navigate .supernav li ul.dropdown li:hover a {
	color: #fa9c03;
}


.navigate .supernav li ul li:hover img {
	opacity: 0.8;
}
.navigate .supernav li ul li img {
	width: 100%;
	float: none;
	clear: both;
	
}

.navigate .supernav li ul li h3 {
	width: 100%;
	float: none;
	text-align: center;
	clear: both;
	font-size: 14px;
}
.navigate .supernav li:hover a {
	color: #fff;
}

.navigate .supernav li ul li a {
	color: #333;
}
.navigate .supernav < li:hover {
	width: 100px;
}
.contentarea {
	position: relative;
	margin-left: 300px;
	background: #ddd;
	height: auto;
}

.logobox {
	z-index: 999999;
	position: relative;
	min-height: 160px;
	text-align: center;
	padding: 30px 0 0 0;
}

.logobox img {
	max-width: 60%;
}
.finished {
	z-index: 999999;
	position: relative;
	min-height: 300px;
}


.languages {
	width: 100%;
	height: 16px;
	background: url(images/languages.png) center top no-repeat;
	margin-top: 30px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
	visibility: visible;
}

.slipnot .languages {
	opacity: 0;
	visibility: hidden;
}
	

.navigate .supernav li:hover p {
	color: #000;
}

.navigate .supernav li p {
	font-family: 'Montserrat', sans-serif;
	line-height: 39px;
	letter-spacing: 0px;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	text-align: left;
	text-transform: uppercase;
	opacity: 1;
	visibility: visible;
	top: 14px;
	left: 80px;
	position: absolute;
	-webkit-transition: opacity 0.25s 0.18s;
	-moz-transition: opacity 0.25s 0.18s;
	-ms-transition: opacity 0.25s 0.18s;
	-o-transition: opacity 0.25s 0.18s;
	transition: opacity 0.25s 0.18s;
	font-family: 'GothamLight';
	margin-left: 0;
	opacity: 1;
	float: left;
	width: 170px;
}

.navigate .supernav li.dropsub p {
	padding: 0;
}

.slipnot .supernav li p {
	opacity: 0;
	visibility: hidden;
}


.navigate .supernav li.subinside:hover p {
	-webkit-transition: opacity 0s linear 0s, margin 0s linear 0.25s;
	-moz-transition: opacity 0s linear 0s, margin 0s linear 0.25s;
	-ms-transition: opacity 0s linear 0s, margin 0s linear 0.25s;
	-o-transition: opacity 0s linear 0s, margin 0s linear 0.25s;
	transition: opacity 0s linear 0s, margin 0s linear 0.25s;
	margin-left: -9999px;
	opacity: 0;
}

.navigate .supernav li span {
	background-image: url(images/icon_grid.png);
	background-color: transparent;
	background-position: -3px 6px;
	background-repeat: no-repeat;
	border: 2px solid #373637;
	border-radius: 42px;
	height: 42px;
	width: 42px;
	margin: 0 10px 0 20px;
	float: left;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	display: block;
}

.navigate .supernav li .hotel {
	background-position: -3px 6px;
}

.navigate .supernav li:hover .hotel {
	background-position: -52px 6px;
	border: 2px solid #000;
}

.navigate .supernav li .reserve {
	background-position: -3px -57px;
}

.navigate .supernav li:hover .reserve {
	background-position: -52px -57px;
	border: 2px solid #000;
}


.navigate .supernav li .rooms {
	background-position: -3px -119px;
}

.navigate .supernav li:hover .rooms {
	background-position: -52px -119px;
	border: 2px solid #000;
}



.navigate .supernav li .gallery {
	background-position: -3px -182px;
}

.navigate .supernav li:hover .gallery {
	background-position: -52px -182px;
	border: 2px solid #000;
}


.navigate .supernav li .deals {
	background-position: -3px -243px;
}

.navigate .supernav li:hover .deals {
	background-position: -52px -243px;
	border: 2px solid #000;
}



.navigate .supernav li .eats {
	background-position: -3px -306px;
}

.navigate .supernav li:hover .eats {
	background-position: -52px -306px;
	border: 2px solid #000;
}




.navigate .supernav li .explore {
	background-position: -3px -368px;
}

.navigate .supernav li:hover .explore {
	background-position: -52px -368px;
	border: 2px solid #000;
}


.navigate .supernav li .contact {
	background-position: -3px -431px;
}

.navigate .supernav li:hover .contact {
	background-position: -52px -431px;
	border: 2px solid #000;
}


.navigate .supernav li .blog {
	background-position: -3px -493px;
}

.navigate .supernav li:hover .blog {
	background-position: -52px -493px;
	border: 2px solid #000;
}



/* General Banner Page Styles ---------------------------------------------------- */



.contentarea {
	background: url(images/bg.jpg);
}
	
.banner {
	background: #fa9c03;
}
.banner p {
	float: left;
	width: 72%;
	padding: 5px 20px 5px 0;
	text-align: right;
	font-family: 'GothamLight';
	color: #fff;
	line-height: 20px;
	letter-spacing: 0px;
	color: #fff;
	font-weight: 400;
	background: #444444;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
	text-transform: uppercase;
	font-size: 14px;
}


.banner p a {
	font-family: 'GothamLight';
	line-height: 22px;
	letter-spacing: 0px;
	color: #fff;
	font-weight: 400;
	margin-left: 20px;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.banner p a:hover {
	color: #fa9c03;
}

.banner p.contacto {
	float: right;
	background: #fa9c03;
	color: #000;
	width: inherit;
	font-family: 'GothamBold';
}

.contacto span {
	color: #fff;
	font-size: 18px;
	margin: 2px 0 0 10px;
	font-family: 'GothamLight';
}
.topnav {
	position: relative;
	position: absolute;
	right: 0;
	padding: 0;
	top: 32px;
	width: 26.6%;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
}


.topnav a {
	font-family: 'GothamLight';
	line-height: 12px;
	letter-spacing: 0px;
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    width: 33%;
    
    display: block;
    float: left;
    height: 16px;
    	padding: 20px 0 20px 0;
}    

.topnav a:first-child {
	width: 28%;
}

.topnav a:last-child {
	width: 36%;
}
.topnav a i {
	margin: 0 15px 0 0;
	position: relative;
	font-size: 15px;
}

.dropout {
	position: absolute;
	right:  0px;
	z-index: 99999999;
	top: 46px;
	background: rgba(0,0,0,.5);
	min-height: 600px;
	width: 450px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.topnav a:hover .dropout {
	opacity: 1;
	visibility: visible;
	top: 56px;
}
.topnav a:hover {
 	background: #fa9c03;
}
.topnav a i:after {
	position: absolute;
	background: transparent;
	top: -8px;
	left: -9px;
	border: 1px solid #fff;
	border-radius: 20px;
	height: 30px;
	width: 30px;
	content: '';
}

.topnav a i.fa-map-marker:after {
	top: -8px;
	left: -12px;
}

.offer {
	position: relative;
	top: -6px;
}


.fixed {
    position: fixed;
    top: 0;
}










/* Home Page Styles ---------------------------------------------------- */








.appearman .overlay {
	position: absolute;
	background: rgba(255,255,255,0.7);
	width: 45%;
	padding: 20px;
	top: 30%;
	z-index: 99999;
	left: 50%;
	text-align: center;
	margin-left: -26.5%;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-name:fadeInDown;
	-moz-animation-name:fadeInDown;
	-o-animation-name:fadeInDown;
	animation-name:fadeInDown;
	-webkit-animation-delay:.5s;
	-moz-animation-delay:.5s;
	-ms-animation-delay:.5s;
	-o-animation-delay:.5s;
}

.wideover {
	position: absolute;
	background: rgba(255,255,255,0.7);
	width: 45%;
	padding: 20px;
	top: 30%;
	left: 50%;
	text-align: center;
	z-index: 999;
	margin-left: -22.5%;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-name:fadeInDown;
	-moz-animation-name:fadeInDown;
	-o-animation-name:fadeInDown;
	animation-name:fadeInDown;
	-webkit-animation-delay:.5s;
	-moz-animation-delay:.5s;
	-ms-animation-delay:.5s;
	-o-animation-delay:.5s;
}




.narrow {
	width: 60%;
	margin-left: -30%;
	padding: 20px 15px;
}
.overlay h1 {
	 font-family: 'GothamBold';
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-weight: 700;
	line-height:32px;
}

.overlay h2 {
	font-family: 'GothamLight';
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-weight: 300;
	line-height: 32px;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}


.overlay p {
	padding: 0 0 5px 0;
}

.overlay a {
	font-family: 'GothamBold';
	font-size: 12px;
	text-transform: uppercase;
	color: #000;
}

.overlay a:hover {
	color: #fa9c03;
}




.suboverlay {
	position: absolute;
	background: rgba(255,255,255,0.7);
	width: 35%;
	padding: 20px;
	top: 30%;
	left: 50%;
	z-index: 9999;
	text-align: center;
	margin-left: -17.5%;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-name:fadeInDown;
	-moz-animation-name:fadeInDown;
	-o-animation-name:fadeInDown;
	animation-name:fadeInDown;
	-webkit-animation-delay:.5s;
	-moz-animation-delay:.5s;
	-ms-animation-delay:.5s;
	-o-animation-delay:.5s;
}

.suboverlay a {
	font-family: 'GothamBold';
	font-size: 12px;
	text-transform: uppercase;
	color: #000;
}

.suboverlay a:hover {
	color: #fa9c03;
}


.suboverlay h4 {
	max-width: 80%;
	margin: auto;
}


.bigover {
	position: absolute;
	background: none;
	width: 100%;
	padding: 0px;
	bottom: 0;
	left: 0%;
	z-index: 9999;
	text-align: center;
}

.bigover p {
	background: rgba(255,255,255,0.7);
	padding: 20px;
	
}

.bigover h1 {
	font-size: 65px;
	line-height: 90px;
	color: #fff;
	text-shadow: 0 0 5px #333;
}

.home-intro {
    height: 420px;
    margin-bottom: 10px;
    max-height: 800px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.littleover {
	position: absolute;
	background: rgba(255,255,255,0.7);
	width: 65%;
	padding: 12px 20px 12px 12px;
	bottom: 0%;
	z-index: 99999;
	right: 0%;
	text-align: left;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-name:fadeIn;
	-moz-animation-name:fadeIn;
	-o-animation-name:fadeIn;
	animation-name:fadeIn;
	-webkit-animation-delay:.5s;
	-moz-animation-delay:.5s;
	-ms-animation-delay:.5s;
	-o-animation-delay:.5s;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.littleover p {
	padding: 0 0 5px 0;
}

.littleover a {
	font-family: 'GothamBold';
	font-size: 12px;
	text-transform: uppercase;
	color: #000;
}
.second-level {
	height: 600px;
}


.leftside {
	height: 100%;
	width: 58.5%;
	float: left;
	position: relative;
}

.textbox, .textbox-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	height: 27%;
	overflow: hidden;
	position: relative;
	z-index: 99999;
		transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.openbox, .openbox-1 {
	height: inherit;
		transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.openbox-up {
	height: inherit;
		transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.innerbox {
	padding: 20px;
	
	
}

.textbox h3, .textbox-1 h3 {
	font-family: 'GothamBold';
	line-height: 22px;
	font-size: 19px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.textbox h4, .textbox-1 h4 {
	font-family: 'GothamCondensedMedium';
	font-size: 20px;
	margin-bottom: 5px;
}

.textbox p, .textbox-1 p {
	font-family: 'GothamLight';
	font-size: 14px;
}
.innerbox .fa {
	position: absolute;
	bottom: 5px;
	width: 92%;
	text-align: center;
	color: #000;
}

.innerbox .fa-chevron-up {
	display: none;
}
.openbox .fa-chevron-down, .openbox-1 .fa-chevron-down {
	display: none;
}
.openbox .fa-chevron-up, .openbox-1 .fa-chevron-up {
	display: block;
}

.leftside .guestrooms {
	height: 70%;
	margin-bottom: 10px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
}


.rightside {
	height: 100%;
	width: 40.5%;
	float: right;
}

.picone {
	height: 48.2%;
	margin-bottom: 11px;
	width: 100%;
	position: relative;
	overflow: hidden;
}







.third-level .picone {
	height: 100%;
	margin-bottom: 10px;
	width: 100%;
	background-size: cover;
	background-position: center center;
}

.third-level {
	height: 400px;
}


.third-level .leftside {
	float: right;
}

.third-level .rightside {
	float: left;
}




.fourth-level {
	display: block;
	width: 100%;
	margin: 12px 0;
	position: relative;
}


.fullspan {
	width: 100%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	height: 450px;
}

.shorter {
	width: 100%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	height: 240px;
}
.fullspan a {
	display: block;
}

.fullspan img {
	height: 0;
	width: 0;
	position: absolute;
	top: -200px;
}







.stretch {
	width: 100%;
	height: 100%;
	background-size:cover;
	background-position: center center;
	background-position: center center;
	-webkit-transition: -webkit-transform .5s ease-out 0s;
  	-o-transition: -o-transform .5s ease-out 0s;
  	-moz-transition: -moz-transform .5s ease-out 0s;
  	-webkit-column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		-o-column-break-inside:avoid;
		-ms-column-break-inside:avoid;
		column-break-inside:avoid;
		-webkit-backface-visibility:hidden;
}

.guestrooms:hover .stretch {
	-moz-transform: scale(1.05);
  	-o-transform: scale(1.05); 
  	-ms-transform: scale(1.05); 
  	-webkit-transform: scale(1.05);  
  	transform:scale(1.05); 
  	-webkit-column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		-o-column-break-inside:avoid;
		-ms-column-break-inside:avoid;
		column-break-inside:avoid;
		-webkit-backface-visibility:hidden;
}

.picone:hover .stretch {
	-moz-transform: scale(1.05);
  	-o-transform: scale(1.05); 
  	-ms-transform: scale(1.05); 
  	-webkit-transform: scale(1.05);  
  	transform:scale(1.05); 
  	-webkit-column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		-o-column-break-inside:avoid;
		-ms-column-break-inside:avoid;
		column-break-inside:avoid;
		-webkit-backface-visibility:hidden;
}
.fullspan:hover .stretch {
	-moz-transform: scale(1.05);
  	-o-transform: scale(1.05); 
  	-ms-transform: scale(1.05); 
  	-webkit-transform: scale(1.05);  
  	transform:scale(1.05); 
  	-webkit-column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		-o-column-break-inside:avoid;
		-ms-column-break-inside:avoid;
		column-break-inside:avoid;
		-webkit-backface-visibility:hidden;
}

.home-intro:hover .stretch {
	-moz-transform: scale(1.05);
  	-o-transform: scale(1.05); 
  	-ms-transform: scale(1.05); 
  	-webkit-transform: scale(1.05);  
  	transform:scale(1.05); 
  	-webkit-column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		-o-column-break-inside:avoid;
		-ms-column-break-inside:avoid;
		column-break-inside:avoid;
		-webkit-backface-visibility:hidden;
}

.fifth-level {

}



.blogposts {
		-moz-column-count: 3;
    -moz-column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
    padding-top: 0px;
    padding: 0px;
    -webkit-column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		-o-column-break-inside:avoid;
		-ms-column-break-inside:avoid;
		column-break-inside:avoid;
		-webkit-backface-visibility:hidden;
}

.blogposts li:hover {
	opacity: .85;
	-webkit-column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		-o-column-break-inside:avoid;
		-ms-column-break-inside:avoid;
		column-break-inside:avoid;
		-webkit-backface-visibility:hidden;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.blogposts li {
	overflow: hidden;
	display: inline-block; /* Display inline-block, and absolutely NO FLOATS! */
    margin-bottom: 0px;
    vertical-align:top;
    width: 100%; 
    position: relative;
    -webkit-column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		-o-column-break-inside:avoid;
		-ms-column-break-inside:avoid;
		column-break-inside:avoid;
		-webkit-backface-visibility:hidden;
}

.blogposts li img {
	width: 100% !important;
	height: 33%  !important;
	display: block;
	 vertical-align:top;
}

.blogposts li:hover .littleover {
	width: 80%;
		transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
















.tier-one {
	width: 100%;
	height: 22px;
	background: #fff;
	margin-top: 10px;
}




.tier-one ul {
	width: 100%;
	text-align: center;
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}

.tier-one ul li {
	list-style: none;
	display: table-cell;
	text-align: center;
}

.tier-one ul li a {
	color: #666666;
	font-family: 'GothamBold';
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: 700;
	line-height:10px;
}
.tier-one ul li a:hover {
	color: #000;
}



.tier-two {
	padding: 10px 0;
	width: 100%;
	height: 35px;
	background: #444;
}




.tier-two ul {
	width: 100%;
	text-align: left;
	margin: 0;
	padding: 0;
}

.tier-two ul li {
	list-style: none;
	text-align: left;
	width: 22%;
	float: left;
	padding: 5px 10px
}

.tier-two ul li.widest {
	width: 45%;
}

.tier-two li {
	font-family: 'GothamBold';
	color: #fff;
	line-height: 21px;
	letter-spacing: 0px;
	color: #fa9c03;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	text-transform: uppercase;
	font-size: 12px;
}

.tier-two li span {
	font-family: 'GothamLight';
	margin:  0 0 0 10px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
}

.tier-two li a {
	font-family: 'GothamLight';
	margin:  0 0 0 0px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
}



/* General Single Styles ---------------------------------------------------- */

.single .contentarea, .page .contentarea {
	height: auto;
}



/* General Page Styles ---------------------------------------------------- */

.page .maparea.right {
    height: 521px;
    position: relative;
    right: auto;
    width: 361px;
}

.page .page-content {
	padding: 15px;
}

.page .main-page-content.left {
    padding: 0;
    width: 64%;
}

.page .fourth-level:first-child {
    margin-top: 0;
}

.page .rightside, .page .leftside {
    width: 49.5%;
}

.page .fullspan {
	height: 320px;
}

.page .suboverlay {
	top: 20%;
}

.page .third-level {
    height: 320px;
}

.page .suboverlay p {
    font-family: gothambook;
    font-size: 18px;
}

.page .suboverlay h1 {
    margin-bottom: 14px;
}



/* Rooms Page Styles ---------------------------------------------------- */

.rooms .fourth-level {
	margin: 0;
}

.rooms .fullspan {
	margin-bottom: 0;
}

.rooms .suboverlay h4 {
	font-family: 'GothamLight', sans-serif;
	font-weight: 300;
}

.rooms-book-now {
    bottom: 0;
    height: 40px;
    position: absolute;
    width: 100%;
}

.rooms-book-now .left, .rooms-book-now .right {
	height: 100%;
	line-height: 2.3;
}

.rooms-book-now .left {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    width: 70%;
}

.rooms-book-now .right {
    width: 30%;
}

.rooms-book-now .right a {
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    background: none repeat scroll 0 0 rgba(250, 156, 3, 0.7);
    color: #FFFFFF;
    height: 100%;
    line-height: 2.5;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
	.rooms-book-now .right a:hover {
		background: none repeat scroll 0 0 rgba(250, 156, 3, 1);
	}

.rooms-book-now .left > h4 {
    line-height: 2;
    margin-bottom: 0;
    margin-left: 4%;
    max-width: 100%;
    overflow: hidden;
    padding-right: 4%;
}



/* Single - Rooms ---------------------------------------------------- */

.rooms-book-now.slide-booking {
    height: auto;
}

.rooms-book-now.slide-booking .left {
    padding: 15px;
    width: 67.3%;
}

.slide-booking .left > p {
    font-family: GothamCondensedMedium,sans-serif;
    font-size: 19px;
    padding-bottom: 0;
}

.rooms-book-now.slide-booking .right a {
    line-height: 4.6;
    display: block;
}

.room-more-details {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    overflow: hidden;
    position: relative;
}

.room-details {
	width: 100%;
}

.room-details li.room-detail {
    float: left;
    margin-right: 42px;
    width: 30.8%;
}

.room-details li.room-detail:last-child {
    margin-right: 0;
}

.room-details-content {
    margin: 25px auto 0;
    width: 85%;
}

.room-details-content > ul {
    padding-left: 40px;
}

.room-details-content li {
    font-family: GothamLight,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    list-style: disc outside none;
}

.room-details-content > h4 {
    font-size: 22px;
    text-transform: uppercase;
}

.detail-features {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 25px;
}

.detail-features > ul {
    padding-bottom: 0;
}

.detail-features > h4 {
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/*.room-details-content .detail-features li:before {
    content: "\f10b";
    font-family: font-awesome;
    font-size: 30px;
    line-height: 1;
    margin-left: -20px;
    margin-right: 10px;
}*/

.room-details-content .detail-features li {
	background-repeat: no-repeat;
	background-position: 0 center;
    line-height: 3;
    list-style: none outside none;
    padding-left: 44px;
}

.room-details-content .detail-features li.ico-mobile {
	background-image: url(images/icons/ico-mobile.png);
	background-position: 7px center;
}

.room-details-content .detail-features li.ico-tv {
	background-image: url(images/icons/ico-tv.png);
}

.room-details-content .detail-features li.ico-wifi {
	background-image: url(images/icons/ico-wifi.png);
	background-position: 3px center;
}

.room-details-content .detail-features li.ico-cable {
	background-image: url(images/icons/ico-cable.png);
	background-position: 3px center;
}

.room-details-content .detail-features li.ico-desk {
	background-image: url(images/icons/ico-desk.png);
}



/* Page - Explore ---------------------------------------------------- */

.page-intro {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    padding: 50px 20px 20px;
}

.page-intro > h1 {
	font-size: 40px;
    margin-bottom: 20px;
}

.page-intro h4.sub-line {
	color: #666666;
	font-size: 21px;
}



/* Single - General Styles ---------------------------------------------------- */

.single .home-intro, .page .home-intro {
	margin-bottom: 0;
}

.page-content {
	background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.main-page-content.left {
	background: none repeat scroll 0 0 #FFFFFF;
    padding: 30px 40px;
    width: 57%;
}

.maparea.right {
    background: url("images/explore/single-explore-map.jpg") no-repeat scroll center  center / cover  #000000;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    width: 35%;
}

.text-content.left {
    width: 70%;
}

.extra-details.right {
    padding-top: 70px;
    width: 24%;
}

.text-content.left > h1 {
    font-size: 39px;
    line-height: 1;
    margin-bottom: 25px;
}

.text-content.left > p {
    font-family: gothambook;
    font-size: 15px;
    line-height: 1.6;
    padding-bottom: 30px;
}

/* More details */

.extra-details .extra-detail {
    margin-bottom: 10px;
}

.extra-details h4 {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.extra-details li {
    font-family: gothambook,sans-serif;
    font-size: 13px;
    margin-bottom: 9px;
}

.extra-detail.button-details {
    margin-top: 20px;
}

/* Social media details */

.social-media-details {
    clear: both;
    overflow: auto;
}

.social-media-details li {
    float: left;
    margin-right: 15px;
}

.social-media-details i {
    color: #666666;
    font-size: 30px;
}



/* Page - Time Square ---------------------------------------------------- */

/* Textbox area */

.page.time-square .home-intro {
    margin-bottom: 0;
    margin-left: 300px;
    width: auto;
}

.page.time-square .textbox {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    bottom: 205px;
    left: 300px;
    position: absolute;
    top: auto;
    width: 50%;
    z-index: 1;
    height: 140px;
}

.page.time-square .innerbox {
    padding: 15px;
}

.page.time-square .textbox.openbox-up {
    min-height: 50%;
    max-height: 50%;
}

.textbox-header h1 {
    margin-bottom: 7px;
}

.page.time-square h4 {
    clear: both;
}

.page.time-square .innerbox h5 {
    color: #666666;
    margin: 10px 0;
}

.page.time-square .innerbox .fa {
    bottom: auto;
    position: absolute;
    right: 15px;
    top: 15px;
    width: auto;
}

.page.time-square .innerbox .fa-chevron-down {
	display: none;
}

.page.time-square .innerbox .fa-chevron-up {
	display: block;
}

.page.time-square .openbox-up .fa-chevron-up {
	display: none;
}

.page.time-square .openbox-up .fa-chevron-down {
	display: block;
}



/* Listed Content area */

.page-content .listed-content {
    float: left;
    margin-bottom: 20px;
    margin-right: 15px;
    width: 212px;
}

.listed-content:nth-child(8) {
    clear: left;
}

.page-content .listed-content div {
    padding: 10px;
}

.page-content .listed-content h3 {
    color: #333333;
    margin-bottom: 7px;
    text-transform: none;
}

.page-content .listed-content p {
    font-size: 13px;
    padding-bottom: 5px;
}

.page-content .listed-content a {
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    color: #000000;
    font-size: 10px;
    text-transform: uppercase;
}
	.page-content .listed-content a:hover {
	    color: #FA9C03;
	}



/* Page - Concierge ---------------------------------------------------- */

.page.concierge .page-content {
    padding: 20px 40px;
}

.page.concierge .page-content > h1 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 20px;
}

.page.concierge .page-content > h3 {
    color: #999999;
    font-size: 22px;
    line-height: 1.2;
    text-transform: none;
    margin-bottom: 15px;
}

.page.concierge .page-content div p span {
    font-size: 20px;
    margin-right: 30px;
}

.page.concierge .page-content div p span span {
    color: #FA9C03;
    margin-right: 0;
}

.concierge-box {
    height: 207px;
    margin-bottom: 10px;
    width: 100%;
}
	.concierge-box:hover .concierge-box-photo {
	    transform: scale(1.05);
	}

.concierge-box .left {
    height: 100%;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
    width: 55%;
}

.concierge-box .right {
    overflow: hidden;
    padding: 5% 5% 3.7%;
    width: 34%;
}

.concierge-box-photo {
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    height: 100%;
    width: 100%;
}

.concierge-box .right p {
    font-size: 14px;
    padding-bottom: 7px;
}

.concierge-box .right a {
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

.concierge-box .wideover.overlay {
    left: 25%;
    margin-left: 0;
    width: 40%;
}

.concierge-box .wideover.overlay h1 {
    font-size: 23px;
    line-height: 1.2;
}

.box-style-1 {
	background: #fa9c03;
}

.box-style-1 a {
	color: #666;
}
	.box-style-1 a:hover {
		color: #fff;
	}

.box-style-1 p {
	color: #000;
}

.box-style-2 {
	background: #444444;
}

.box-style-2 a {
	color: #fa9c03;
}
	.box-style-2 a:hover {
		color: #ddd;
	}

.box-style-2 p {
	color: #fff;
}

.box-style-3 {
	background: #a8a8a8;
}

.box-style-3 a {
	color: #000;
}
	.box-style-3 a:hover {
		color: #ddd;
	}

.box-style-3 p {
	color: #fff;
}

.box-style-4 {
	background: #111111;
}

.box-style-4 a {
	color: #fa9c03;
}
	.box-style-4 a:hover {
		color: #ddd;
	}

.box-style-4 p {
	color: #fff;
}

.concierge-box.box-style-4 .right {
    padding: 9px 50px;
}

.concierge-box.box-style-4 .right p {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 5px;
}



/* Page - Full Vertical ---------------------------------------------------- */

.page .contentarea.fullvertical {
    height: 100%;
}

.page .fullvertical .third-level {
    height: 100%;
}

.page .fullvertical .rightside, .page .fullvertical .leftside {
	width: 50%;
}

.page .fullvertical .suboverlay {
	transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
    left: 40%;
    max-height: 100%;
    position: absolute;
    width: 50%;
    padding: 0;
}

.page .fullvertical .suboverlay p {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 5px;
    text-align: left;
}

.page .fullvertical .textbox,.page .fullvertical .textbox-1 {
	height: 20%;
    top: 35%;
    transition: height 1s ease-in-out;
    -moz-transition: height 1s ease-in-out;
    -webkit-transition: height 1s ease-in-out;
    -ms-transition: height 1s ease-in-out;
}

.page .fullvertical .textbox.openbox, .page .fullvertical .textbox-1.openbox-1 {
    height: 60%;
}

.page .fullvertical .innerbox .fa {
    left: 0;
    width: 100%;
}



/* Single - Eat & Drink ---------------------------------------------------- */

.single.eat-drink .home-intro {
    height: 50%;
}

.single.eat-drink .wideover {
    margin-left: -6%;
    top: 25%;
    width: 30%;
}

.single.eat-drink .overlay h2 {
	font-size: 15px;
	text-transform: none;
}

.photo-list {
    overflow: auto;
    background: rgba(255,255,255,0.7);
}

.photo-list li {
    background-size: cover;
    float: left;
    height: 320px;
    margin-right: 10px;
    width: 32.7%;
}

.photo-list li:last-child {
    margin-right: 0;
}

.single.eat-drink .page-content {
	background: rgba(255,255,255,0.7);
}

.single.eat-drink .main-page-content.left {
	background: transparent;
}

.main-page-content.left > h1 {
    margin-bottom: 20px;
}

.menu-area.right {
    padding-top: 30px;
    width: 30%;
}

.menu-area.right h3 {
    color: #666666;
    font-size: 23px;
    line-height: 1;
    margin-bottom: 15px;
}

.menu-this-month {
    background: none repeat scroll 0 0 #DCDCDC;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.menu-area.right ul li a {
    color: #111111;
    line-height: 1.5;
}
	.menu-area.right ul li a:hover {
		color: #8D3D00;
	}

.menu-area.right .menu-this-month > h3 {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
    padding: 10px;
    width: 100%;
}

.menu-this-month > ul {
    padding: 0 15px;
}

.menu-this-month li {
    line-height: 1.7;
}

.menu-this-month ul li strong {
    font-weight: bold;
}



/* Single - Eat & Drink ---------------------------------------------------- */

.page.group-rates .contentarea {
    height: 100%;
}

.group-rate-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.rate-box {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    max-height: 90%;
    overflow: hidden;
    padding: 20px;
    position: relative;
    top: 25%;
    width: 60%;
}

.group-details {
    margin-bottom: 40px;
    min-height: 100px;
}

.rate-box > h1 {
    color: #FFFFFF;
    font-size: 37px;
    line-height: 1;
    margin-bottom: 40px;
    text-align: center;
    text-transform: none;
}

.rate-box h4 {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 40px;
}

.group-details > ul {
    text-align: center;
}

.group-details li {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    height: 80px;
    margin: 0 12px;
    padding: 6px;
    width: 110px;
}

.group-details li .detail-number-wrapper {
    border: 1px solid #666666;
    height: 100%;
    position: relative;
}

.detail-number-wrapper input {
    border: 0 none;
    color: #fa9c03;
    font-family: gothambold;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    text-align: center !important;
    top: 10%;
    width: 100% !important;
}

/* Jquery UI Spinner */

.detail-number-wrapper .ui-state-default, .detail-number-wrapper .ui-widget-content .ui-state-default {
    border: 0 none;
    border-radius: 20px !important;
    height: 20px !important;
    padding: 3px;
    width: 20px !important;
    background: #fff;
    cursor: pointer;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    background: url("images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50% #666666;
}
	.detail-number-wrapper .ui-state-default:hover, .detail-number-wrapper .ui-widget-content .ui-state-default:hover {
	    background: none repeat scroll 0 0 #FA9C03;
	}

	.detail-number-wrapper .ui-state-default:hover .ui-icon, .detail-number-wrapper .ui-widget-content .ui-state-default:hover .ui-icon {
	    border-color: #fff;
	}

	.detail-number-wrapper .ui-state-default:hover .ui-icon:after, .detail-number-wrapper .ui-widget-content .ui-state-default:hover .ui-icon:after {
	    color: #fff;
	}

.detail-number-wrapper .ui-widget {
    display: block;
    height: 100%;
    left: 54.0%
    position: absolute;
    top: 0;
    width: 100%;
}

.detail-number-wrapper .ui-spinner-buttons {
    height: 130.5% !important;
    left: 37% !important;
    position: absolute;
    top: -13px !important;
    width: 30% !important;
}

.detail-number-wrapper .ui-corner-br {
    bottom: 0 !important;
    position: absolute;
}

.detail-number-wrapper .ui-state-default .ui-icon {
	font-family: font-awesome !important;
	border: 1px solid #666666;
    border-radius: 11px;
    margin: 0 auto !important;
    padding-bottom: 2px;
    padding-right: 2px;
    color: #000;
    text-indent: 0;
    font-family: font-awesome;
}

.detail-number-wrapper .ui-state-default .ui-icon:after {
	font-size: 12px;
    position: relative;
    color: #333333;
    left: -0.7px;
}

.detail-number-wrapper .ui-state-default.ui-corner-tr .ui-icon:after {
    content: "\f077";
    top: -4px;
}

.detail-number-wrapper .ui-state-default.ui-corner-br .ui-icon:after {
    content: "\f078";
    top: -2px;
}